*{
  box-sizing: border-box;
}
:root{
  --primary-color:#0F1B4C;
}
html{
  font-size: 62.5%;
}
html,body{
  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem;
  font-family: 'Poppins', serif
}
/*Common*/
.content{
  width: 1100px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a{
  text-decoration: none;
}
.btn{
   min-width: 98px;
   padding: 18px 16px;
   background:var(--primary-color);
   border-radius: 12px;
   font-weight: 500;
   font-size: 1.4rem;
   text-align: center;
   color: #fff;
 }

.line-clamp{
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp,2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/*Header*/
.header{
  height: 75vh;
  display: block;
  background-color: #E6F0FF;
  position: relative;
}

/*Nav*/

.navbar{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99;
  height: 100px;
  width: 100%;
  top:0;
  left: 0;
  justify-content: center;
  background-color: var(--primary-color);

}

.navbar ul{
  display: flex;
}
.navbar .icon{
  width: 8%;
  height: 90%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar ul li{
  padding: 0 14px;
  margin-left: 50px;
  transform: scale(1.2);  /* Phóng to phần tử */
  font-size: 18px; /* Phóng to chữ */
}

.navbar ul li a{
  font-size: 1.4rem;
  font-weight: 600;
  color: #edeeef;
}
.navbar ul li:hover{
  transform: scale(1.5);  /* Phóng to phần tử */

}
.navbar action{
  margin-left: auto;
}

a.action-link {
  color: aliceblue;
}

.navbar action .signUp-btn{
  padding: 13px 16px;
  margin-left: 20px;
  border-radius: 8px;
  margin-right: 5px;
  color: var(--primary-color);
  background: white;
}
.navbar action .signUp-btn:hover{
  opacity: 0.6;
}

.hero{
  width: 51%;
}
.hero-wrap{
  padding-top: 100px;
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
}
.hero .sub-title{
  color: #bdc6d3;
  padding-top:50px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
}

.hero .title{
  margin-top:8px;
  color: #000336;
  font-size: 5.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.18; /* 118.75% */
}

.hero .desc{
  margin-top: 30px;
  color: #5A6473;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 177.778% */
}

.hero-cta{
  display: inline-block;
  margin-top: 40px;
  min-width: 170px;
}
.hero-img{
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1100px)/2 - 100px);
}
/*Client*/
.clients{
  margin-top: 122px;
  padding: 41px 0px;
}
.clients .row{
  display: flex;
  justify-content: space-between;
}
.clients .row:nth-child(2){
  margin-top: 23px;
}
.clients .row > p{
  color: #7D8589;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25; /* 125% */
}
.clients .images{
  margin-top: 102px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.clients .images > img{
  width: 154px;
  height: 33px;
  opacity: 0.9;
  transition: transform 0.3s ease;
}

.images {
  position: relative;
  display: inline-block;
}

.images img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  user-select: none;
}

.images .image-wrapper {
  position: absolute;
  display: none;
  content: "";
  width: 204px;
  height: 91px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

  pointer-events: none; /* Đảm bảo hộp không gây cản trở sự kiện */
  transition: opacity 0.3s ease;
}




.images img:hover {
  transform: scale(1.05); /* Phóng to ảnh khi hover */
  cursor: pointer;
}


/*.images {*/
/*  position: relative; !* Cần thiết để tạo khung xung quanh *!*/
/*  display: inline-block; !* Đảm bảo ảnh và khung hoạt động tốt cùng nhau *!*/

/*}*/

/*.wrapper{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  transition: opacity 0.3s ease;*/
/*}*/

/*.images img:hover{*/
/*  transform: scale(1.05);*/
/*}*/
/*.images  .wrapper:hover{*/
/*   !* Tăng nhẹ kích thước ảnh khi hover *!*/
/*  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
/*  width: 204px;*/
/*  height: 91px;*/


/*}*/
/*Guides*/
.guides{
  margin-top: 40px;
  padding: 80px 0px;
  margin-bottom: 80px;
}
.guides .content{
  width: 685px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.guides  .sub-title{
  margin-top: 10px;
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
  position: relative;
}

.guides  .sub-title::before{
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  background: #000339;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  top:-10px;
}

.guides .desc{
  color: #5A6473;
  text-align: center;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8; /* 187.5% */
  width: 500px;
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 20px;
}

.guides .option{
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.guides .option .item{
  justify-items: center;
}

.guides .item >img{
  width: 47.991px;
  height: 48px;
}

.guides .item >h3{
  margin-top: 26px;
  color: #3B3C45;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1; /* 110% */
}

.guides .item >a{
  display: inline-block;
  margin-top: 10px;
  color: #0689FF;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sell-btn{
  margin-top: 50px;
  display: inline-block;
  width: 170px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

/*Featured*/
.featured{
  background-color: #F5FAFE;
  padding:110px 0;
}

.featured .sub-title{

  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.featured .desc{
  margin-top: 10px;
  color: #5A6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8; /* 187.5% */
}

.featured .action-link{
  display: flex;
  align-content: center;
  float: right;
  bottom: 0;
}
.featured .action-link span{
  color: #0689FF;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  float:right;
  bottom: 0;
}

.featured .list{
  margin-top: 70px;
  display: flex;
  flex-wrap: nowrap;
  gap:30px;
}
.featured .list .item{
  width: calc((100% / 3));
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.60);
  overflow: hidden;
}

.featured .list .item a >img{
  width: 100%;
  height: 227px;
  object-fit: cover;
}

.featured .list .body{
  padding: 18px 20px 24px;
}

.featured .body .title{
  --line-clamp:1;
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5; /* 100% */

}
.featured .body .desc{
  --line-clamp:3;
  color: #A3A6AB;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 22px;
  word-break: break-all;

}

.featured .list .body .icons{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.featured .body .icon{
  display: flex;
  flex-wrap: nowrap;
  gap:5px;
}
.featured .body .icon img{
  width: 20.592px;
  height: 15.432px;
}
.featured .body .icon span{
  color: #4D4D52;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1; /* 100% */
  letter-spacing: 0.14px;
}
/*Stats*/
.stats{
  margin-top: 75px;
  padding: 50px 30px;
}
.content{
  width: 1020px;
}
.stats .row{
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.stats .row .image{
  width: 50%;
  border-radius: 12px;
  box-shadow: 40px 80px 155px 0px rgba(30, 103, 113, 0.03);
  text-align: right;
}
.stats .row .image >img:not(.small){
  --width:75%;
  width: var(--width);
  height:calc(var(--width) + 80px);
  object-fit: cover;
  border-radius: 12px;

}
.stats .row .desc{
  --width:50%;
  width: var(--width);
  padding-left: calc(var(--width) / 3);
  padding-top:60px;
  padding-bottom:15px;
  padding-right: 10px;
}

.stats .row .desc .title{
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.28; /* 128.571% */
  margin-bottom: 20px;
  position: relative;
}
.stats .row .desc .title:before{
  content: "";
  width: 50px;
  height: 5px;
  border-radius: 999px;
  background: #000339;
  position: absolute;
  top:-10px;
}
.stats .row .desc p{
  color: #5A6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
}
.stats .row .small{
  display: inline-block;
  width: 239px;
  height: 252px;
  position: absolute;
  border-radius: 0px 0px 12px 12px;
  background: #FFF;
  box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
  z-index: 999;
  left: 0;
  top: 0;
}


.subscrise .content{
  border-radius: 20px;
  padding-top:40px;
  height: 409px;
  position: relative;
  overflow: hidden;
}

.subscrise .text .title{
  color: #FFF;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.subscrise .text .desc{
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87;
}

.subscrise .text .btn{
  border-radius: 12px;
  width: 20%;
  background: #FFF;
  color: #002366;
  text-align: center;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.subscrise .text{
  height: 100%;
  flex-direction: column;
  border-radius: 20px;
  background: #063183;
  display: flex;
  justify-content: center;
  padding:0px 20px;
  gap:20px;
}
.subscrise .phone{
  position: absolute;
  width: 218.083px;
  height: 438.437px;
  top: -15px;
  right: 220px;
}
.footer{
  margin-top: 50px;
  padding:50px 0px;
}
.footer .row{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer .row li{
  list-style-type: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.footer .row .title{
  color: #1C1C1D;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 42px;
}

.footer .row .desc, .footer .row .list{
  color: #7A7A7E;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.footer .row:first-child{
  margin-bottom: 82px;
}

.footer .row .social{
  display: flex;
  flex-wrap: nowrap;
  gap:35px;
  margin-top: 30px;
}

.footer .social > img{
  width: 24px;
  height: 24px;
  border-radius: 2px;
  position: relative;
}


.footer .social .wrap{
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  transition: background-color ease 0.2s;
}
.footer .social .wrap:hover {
  background-color: #eaeaea;
}
